{% extends 'base.html' %}

{% block title %}About Tipster Arena{% endblock %}

{% block content %}
<div class="container">
    <h1>About Tipster Arena</h1>
    <p>Welcome to Tipster Arena, your premier destination for sports tips and betting expertise.</p>

    <h2>Our Mission</h2>
    <p>At Tipster Arena, we aim to revolutionize the world of sports tipping by providing a platform where users can access tips from a diverse community of tipsters. We believe in transparency, community collaboration, and responsible betting.</p>

    <h2>What We Offer</h2>
    <p>Our platform offers the following features:</p>
    <ul>
        <li>Access to tips from tipsters in various sports, including Football, Horse Racing, Tennis, and Golf.</li>
        <li>Live chatroom , where you can discuss strategies and get real-time tips from fellow sports enthusiasts.</li>
        <li>Tipster League Tables to track the best-performing tipsters in each sport.</li>
        <li>Subscription-based access for just €5 per month, providing you with a wealth of betting insights.</li>
    </ul>

    <h2>Join Us Today</h2>
    <p>Ready to take your sports betting to the next level? Join Tipster Arena today and become part of our vibrant community. Let's explore the world of sports tips together!</p>
</div>
{% endblock %}
