{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to the Chat Room</h1>
    <!-- Your chat room content goes here -->
</div>


<main>
    <!-- New Sports Grid -->
    <div class="container sports-grid">
        <div class="row">
            <!-- Football -->
            <div class="col-lg-6 mb-2 section" id="football-chat">
                
            </div>
            <!-- Horse Racing -->
            <div class="col-lg-6 mb-2 section" id="horse-racing">
                <h1>Horse Racing Chat</h1>
            </div>
        </div>
        <div class="row">
            <!-- Tennis -->
            <div class="col-lg-6 mb-2 section" id="tennis">
                <h1>Tennis Chat</h1>
            </div>
            <!-- Golf -->
            <div class="col-lg-6 mb-2 section" id="golf">
                <h1>Golf Chat </h1>
            </div>
        </div>
    </div>
</main>
{% endblock %}
