{% extends "base.html" %}

{% block content %}

<main>
    <div class="container mt-5">
        <h2>Football Chat Room</h2>
        <div class="d-flex">
            <div class="chat-room">
                <ul id="messages"></ul>
                <input id="message" autocomplete="off" placeholder="Type a message...">
                <emoji-picker></emoji-picker><!-- Added emoji picker element -->
                <button onclick="footballChat.sendMessage()">Send</button> 
                <!-- Error message placeholder -->
                <div id="error-message"></div>
            </div>
            <div id="online-users">
                <h3>Online Users</h3>
                <ul id="user-list"></ul>
            </div>
        </div>   
    </div>
</main>

<!-- Socket.IO JavaScript -->
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js" crossorigin="anonymous" nonce="{{ g.nonce }}"></script>
<!-- Emoji Picker JavaScript -->
<script type="module" nonce="{{ g.nonce }}">
    import 'https://unpkg.com/emoji-picker-element';
    
    const picker = document.querySelector('emoji-picker');
    const input = document.getElementById('message');

    picker.addEventListener('emoji-click', event => {
        input.value += event.detail.unicode;
    });
</script>

<script src="{{ url_for('static', filename='js/chat.js') }}" nonce="{{ g.nonce }}"></script>

{% endblock %}











