{% extends "base.html" %}

{% block content %}
    <div class="container section-grid">
        <div class="row">
            <!-- Chat -->
            <div class="col-lg-6 mb-2 section" id="horse-racing-chat" 
                 class="background-image-cover">
                
            </div>
            <!-- Fixtures & Results -->
            <div class="col-lg-6 mb-2 section" id="horse-racing-meetings-results" 
                 class="background-image-results">
               
            </div>
        </div>
        <div class="row">
            <!-- Tips -->
            <div class="col-lg-6 mb-2 section" id="horse-racing-tips" 
                 class="background-image-tips">
                
            </div>
            <!-- In Play -->
            <div class="col-lg-6 mb-2 section" id="next-to-the-post" 
                 class="background-image-inplay">
                <h1>At The Post</h1>
            </div>
        </div>
    </div>
{% endblock %}

  