{% extends "base.html" %}

{% block content %}
<main>
    <!-- New Sports Grid -->
    <div class="container sports-grid">
        <div class="row">
            <!-- Football -->
            <div class="col-lg-6 mb-2 section" id="football-home">
                
            </div>
            <!-- Horse Racing -->
            <div class="col-lg-6 mb-2 section" id="horse-racing-home">
                
            </div>
        </div>
        <div class="row">
            <!-- Tennis -->
            <div class="col-lg-6 mb-2 section" id="tennis-home">
                
            </div>
            <!-- Golf -->
            <div class="col-lg-6 mb-2 section" id="golf-home">
                
            </div>
        </div>
    </div>

    <!-- New Section Grid -->
    <div class="container section-grid">
        <div class="row">
            <!-- Top Tips Today -->
            <div class="col-lg-6 mb-2 section" id="top-tips-today">
            </div>
            <!-- Results -->
            <div class="col-lg-6 mb-2 section" id="results">
            </div>
        </div>
        <div class="row">
            <!-- Coming Up -->
            <div class="col-lg-6 mb-2 section" id="coming-up">
            </div>
            <!-- ChatRooms -->
            <div class="col-lg-6 mb-2 section" id="chatrooms">
            </div>
        </div>
    </div>
</main>
{% endblock %}
