{% extends "base.html" %}

{% block content %}
<main>
 <!-- Tips Content -->
 <div class="container section-grid">
    <div class="row">
        <!-- Football Tips -->
        <div class="col-lg-6 mb-2 section" id="football-tips">
            
        </div>
        <!-- Racing Tips-->
        <div class="col-lg-6 mb-2 section" id="horse-racing-tips">
            
        </div>
    </div>
    <div class="row">
        <!-- Tennis Tips -->
        <div class="col-lg-6 mb-2 section" id="tennis-tips">
            
        </div>
        <!-- Golf Tips -->
        <div class="col-lg-6 mb-2 section" id="golf-tips">
            
        </div>
    </div>
</div>
</main>
{% endblock %}
