{% extends "base.html" %}

{% block content %}
    <div class="container section-grid">
        <div class="row">
            <!-- Chat -->
            <div class="col-lg-6 mb-2 section" id="tennis-chat">
                
            </div>
            <!-- Fixtures & Results -->
            <div class="col-lg-6 mb-2 section" id="tennis-fixtures-results">
               
            </div>
        </div>
        <div class="row">
            <!-- Tips -->
            <div class="col-lg-6 mb-2 section" id="tennis-tips">
                
            </div>
            <!-- In Play -->
            <div class="col-lg-6 mb-2 section" id="tennis-in-play">
               
            </div>
        </div>
    </div>
{% endblock %}
